{% extends 'nightout/base.html' %}
{% load static %}
{% block content %}
	<div class="card">
		<div class="inner-box" id="card">
			<div class="card-front">
				<h2>Login</h2>
				<form>
					<input type="email" class="input-box" placeholder="Your Email Id" required>
		  			<input type="password" class="input-box" placeholder="Password" required>
		  			<button type="submit" class="submit-btn">Submit</button>
		  			<input type="checkbox"><span>Remember Me</span>
				</form>
				<button type="button" class="bttn" onclick="openRegister()">Signup</button>
				<a href="">Forgot Password</a>
			</div>
			<div class="card-back">
 				<h2>Register</h2>
				<form>
					<input type="text" class="input-box" placeholder="Your name" required>
	    			<input type="email" class="input-box" placeholder="Your Email Id" required>
             		<input type="password" class="input-box" placeholder="Password" required>
	     			<input type="password" class="input-box" placeholder="Re-Enter Password" required>
             		<button type="submit" class="submit-btn">Submit</button>
		  			<input type="checkbox"><span>Remember Me</span>
				</form>
				<button type="button" class="bttn" onclick="openLogin()">Already have an account</button>
			</div>
		</div>
	</div>
	<script>
		var card = document.getElementById("card");
	 	function openRegister(){
			card.style.transform = "rotateY(-180deg)";
		}
	  	function openLogin(){
			card.style.transform = "rotateY(0deg)";
		}
	</script>
{% endblock %}